node_modules
.env

# Hardhat files
/cache
/artifacts
/Gas_Report.md
# TypeChain files
/typechain
/typechain-types
/test
# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition
